#stop-reload-button, #back-button, #forward-button,
.tab-close-button, #tabs-newtab-button, #new-tab-button,
#alltabs-button, .titlebar-buttonbox-container {
  display: none !important;
}

#star-button-box {
  display: none !important;
}

#firefox-view-button, #tracking-protection-icon-container, .titlebar-spacer, toolbarspring {
  display: none !important;
}

#navigator-toolbox-background:-moz-window-inactive {
  filter: contrast(90%);
}

#PanelUI-menu-button, #unified-extensions-button {
  padding: 2px !important;
}

#urlbar-background {
  border: none !important;
  outline: none !important;
  transition: .15s !important;
}

#nav-bar, #urlbar-container {
  flex-grow: 1;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]):not([orient="vertical"]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: 0 !important;
}

#navigator-toolbox {
  border: none !important;
  flex-direction: row;
  flex-wrap: wrap;
}

#titlebar {
  flex-grow: 8;
  padding-left: 2px !important;
}

#nav-bar {
  background: none !important;
  padding-right: 4px !important;
}

#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
  box-shadow: none !important;
  background: none !important;
}

#statuspanel-label {
  background-color: -moz-Dialog !important;
  border: none !important;
  padding: 5px !important;
}

#fullscreen-warning {
  border: none !important;
  background: -moz-Dialog !important;
}
